body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(243, 244, 246);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(229, 231, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 251, 251);
}

header input {
    flex-grow: 1;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

header button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#people {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    border-right: 1px solid rgb(229, 231, 235);
    background-color: rgb(250, 251, 251);
    position: relative;
}

#head {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

main section div h2 {
    padding: .5rem 1rem;
}

main section div button {
    margin-top: .75rem;
    position: absolute;
    right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 90px;
    height: 40px;
}

main section div nav {
    display: flex;
    flex-direction: column;
}

#list a {
    margin: .5rem 1rem .5rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    cursor: pointer;
}

#websocket {
    position: absolute;
    bottom: 0;
    margin: .5rem;
    padding: .5rem;
    border: .5px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#notes {
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}

#person {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

#person img {
    margin: 1rem 0 0 1rem;
    border-radius: 50%;
}

#metainfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#person h2 {
    align-self: center;
    margin-bottom: 0px;
}

#person h3 {
    font-size: small;
    align-self: center;
    font-style: italic;
}

#notes div #list {
    display: flex;
    flex-direction: column;
}

.notebox {
    margin: .5rem 1rem .5rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: left;
    color: black;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
}

.notebox h3 {
    text-emphasis: bold;
}

.notebox h4 {
    font-size: smaller;
    text-decoration: underline;
}

.notebox p {
    font-size: small;
    font-style: italic;
}

footer {
    display: flex;
    border-top: 1px solid rgb(229, 231, 235);
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 251, 251);
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
}

footer p {
    margin: 1rem;
}

@media (max-width: 768px) {
    footer {
        display: none;
    }
    #people {
        display: none;
    }
    #notes {
        flex-grow: 1;
    }
}